body{
  margin:0;
  font-family:sans-serif;
  background:#eaf6ff;
  overflow-x:hidden;
}

/* ❄️ NIEVE */
#tsparticles{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

/* LOGO */
header{
  position:fixed;
  top:10px;
  left:10px;
  z-index:1000;
}

#logo{
  width:120px;
}

/* INICIO */
.inicio{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

/* ESCENAS */
.escena{
  height:100vh;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
}

/* FONDO GLACIAR */
.fondo{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
  transition:2s ease;
}

/* PERSONAJE */
.personaje img{
  width:250px;
  opacity:0;
  transform:translateY(20px);
  transition:1.5s ease;
}

.show{
  opacity:1;
  transform:translateY(0);
}

/* GLOBOS */
.globo{
  background:white;
  padding:10px 15px;
  border-radius:15px;
  margin-top:10px;
  max-width:300px;
  opacity:0;
  transform:scale(0.95);
  transition:1s ease;
}

.globo.show{
  opacity:1;
  transform:scale(1);
}

/* DATOS */
.datos{
  margin-top:30px;
}

/* MAPA */
.mapa{
  padding:80px;
  text-align:center;
}
#datos{
  padding:80px 20px;
  text-align:center;
  background:#eaf6ff;
}

#grafico{
  max-width:700px;
  margin:auto;
}
